.bootbox {
    position: fixed!important;
    top: 0!important;
    right: 0!important;
    left: 0!important;
    background-color: #00000061;
}   
    .bootbox-cancel{
        font-size: 12px!important;
    }

    .bootbox-accept {
        display: block!important;
        font-size: 12px!important;
    }

        .modal-header .close {
            position: relative;
            top: -10px;
            padding: 1rem;
            margin: -1rem -1rem -1rem auto;
        }

        /* .modal-header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            height: auto!important;
            border-bottom: 1px solid #e9ecef;
            border-top-left-radius: .3rem;
            border-top-right-radius: .3rem;
        } */
